body {
    margin: 0
}

img {
    max-width: 100%;
    display: block;
}

/* TYPOGRAPHY */

body {
    font-family: 'Source Sans Pro', sans-serif;
}

.post-user-name {
    font-weight: 900;
}

.post-likes {
    font-weight: 900;
}

.post-comments span {
    font-weight: 900;
}

/* LAYOUT */

header,
.post-user,
.post-buttons {
    display: flex;
    align-items: center;
}

header {
    border-bottom: 1px solid #C6C6C6;
}

.logo {
    width: 30%;
    margin-right: auto;
    margin-left: 1em;
}

.user-avatar {
    width: 10%;
    border-radius: 50%;
    margin-right: 1em;;
}

.post-user {
    margin: 0.8em 0;
}

.post-user-img {
    width: 10%;
    border-radius: 50%;
    margin-left: 1em;
    margin-right: 0.5em;
}

.post-user-name {
    margin:0;
}

.post-user-nickname {
    margin: 0;
}

.post-image {
    width: 70%;
    margin: 0 auto;
}

.post-buttons {
    margin: 0.8em 0 0.8em 1em;
}

.post-buttons-hearth,
.post-buttons-hearth-filled,
.post-buttons-comment,
.post-buttons-dm {
    width: 6%;
}

.post-buttons-hearth,
.post-buttons-hearth-filled {
    cursor: pointer;
}

.post-buttons-comment {
    margin: 0 0.5em;
}

.post-likes {
    margin-left: 1em;
    margin-bottom: 0.8em;
}

.post-comments {
    margin-left: 1em;
}

.hidden {
    display: none;
}

@media (min-width: 700px) {
    .logo {
        width: 15%;
    }
    .user-avatar {
        width: 5%;
    }
    .post-user-img {
        width: 5%;
    }
    .post-img {
        width: 25%;
    }
    .post-buttons-hearth,
    .post-buttons-hearth-filled,
    .post-buttons-comment,
    .post-buttons-dm {
        width: 2%;
    }
}